$secondBackground: white;

.aboutMe {
    background-color: $secondBackground;
    padding: 140px 0;

    .wrapper {
        display: flex;
        gap: 25px;
    }

    p {
        font-size: 1.3rem;
        max-width: 70ch;
    }

    .aboutMeWording {
        flex-basis: 50%;
        margin: 20px;
        
        h3 {
            position: relative;
            padding: 10px;

            i:hover {
                animation: rotateflip 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

            }
        }


        @-webkit-keyframes rotateflip {
            0% {
            -webkit-transform: rotateX(0);
                    transform: rotateX(0);
            }
            100% {
            -webkit-transform: rotateX(-360deg);
                    transform: rotateX(-360deg);
            }
        }
    
        @keyframes rotateflip {
            0% {
            -webkit-transform: rotateX(0);
                    transform: rotateX(0);
            }
            100% {
            -webkit-transform: rotateX(-360deg);
                    transform: rotateX(-360deg);
            }
        }
    }

    .profilePicture{
        flex-basis: 50%;
        margin-left: 20px;
        display: flex;
        align-items: center;

        img {
            
            border-radius: 20px;

        }
    }
}


