$secondBackground: white;
$accentColor: #d9376e;

.aboutMe {
    background-color: $secondBackground;
    padding-top: 30px;

    .wrapper {
        display: flex;
        gap: 25px;
    }

    p {
        font-size: 1.3rem;
        max-width: 50%;
    }

    i:hover {
        color: #d9376e;
    }

    .aboutMeWording {
        flex-basis: 50%;
        margin: 20px;
        display: flex;
        flex-direction: column;
        text-align: start;
        justify-content: center;
        align-items: center;

        h3 {
            position: relative;
            padding: 10px;

            i:hover {
                animation: rotateflip 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

            }
        }


        @-webkit-keyframes rotateflip {
            0% {
                -webkit-transform: rotateX(0);
                transform: rotateX(0);
            }

            100% {
                -webkit-transform: rotateX(-360deg);
                transform: rotateX(-360deg);
            }
        }

        @keyframes rotateflip {
            0% {
                -webkit-transform: rotateX(0);
                transform: rotateX(0);
            }

            100% {
                -webkit-transform: rotateX(-360deg);
                transform: rotateX(-360deg);
            }
        }
    }

    .profilePicture {
        flex-basis: 50%;
        margin-left: 20px;
        display: flex;
        align-items: center;

        img {
            scale: 0.6;
            border-radius: 20px;
            box-shadow: rgba(42, 49, 255, 0.46) 5px 5px, rgba(27, 34, 225, 0.316) 10px 10px, rgba(56, 86, 235, 0.166) 15px 15px;

        }
    }
}