// Header
@media screen and (max-width: 880px) {

    .heading h1 {
        font-size: 4.5rem;
    }

    .heading h2 {
        font-size: 1.5rem;
    }

    .navMenu .hamburger {
        right: 1000px;
    }

    @media screen and (max-width: 440px) {
        .heading h1 {
            margin-bottom: 15px;
            font-size: 2.5rem;
        }

        .heading h2 {
            font-size: 1.0rem;
        }
    }
}

// About Me
@media screen and (max-width:900px) {
    .aboutMe .wrapper {
        flex-direction: column;
        text-align: center;
    }

    .aboutMe .profilePicture img {
        scale: 0.8;
    }

    .aboutMe p {
        max-width: 70ch;
    }
}


@media screen and (max-width:900px) {
    .aboutMe .wrapper {
        flex-direction: column;
        text-align: center;
    }

    .aboutMe img {
        scale: 0.9;
    }
}



// My Skills


@media screen and (max-width:600px) {
    .listLeft {
        justify-content: center;
    }

    .listRight {
        justify-content: center;
    }
}


//My Projects
@media screen and (max-width:1354px) {

    .projectsContainer a {
        margin-top: 10px;
        text-align: center;

    }

    .projectsContainer .projectTextContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .projectsContainer .projectTextContainer2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    @media screen and (max-width:1180px) {
        .projectsContainer .eachProjectContainer {
            flex-direction: column;
            text-align: center;
            gap: 50px;
        }

        .projectsContainer .eachProjectContainer2 {
            flex-direction: column;
            text-align: center;
            gap: 50px;
        }

        .projectsContainer img {
            height: 100%;
        }

        .projectsContainer .projectTextContainer {
            width: 100%;
            align-items: center;
        }

        .projectsContainer .projectTextContainer2 {
            width: 100%;
            align-items: center;
            text-align: center;
        }
    }

    @media screen and (max-width:600px) {
        .projectsContainer img {
            scale: 0.85;
        }
    }

    @media screen and (max-width:515px) {
        .projectsContainer img {
            scale: 0.75;
        }
    }

    @media screen and (max-width:458px) {
        .projectsContainer img {
            scale: 0.65;
        }

        .projectsContainer .eachProjectContainer {
            gap: 10px;
        }

        .projectsContainer .eachProjectContainer2 {
            gap: 10px;
        }
    }

    @media screen and (max-width:404px) {
        .projectsContainer img {
            scale: 0.55;
        }
    }

    //Get in Contact

    @media screen and (max-width:600px) {
        div.contactFlex {
            display: flex;
            flex-direction: column;

            .formContainer {
                align-items: center;
                width: 100%;

                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    button {
                        align-self: center;
                        width: 40%;
                        margin-top: 5px;
                    }
                }
            }

            .contactTextContainer {
                text-align: center;
                width: 100%;
            }

            .socialIcons {
                justify-content: center;
            }
        }
    }
}